.main {
  margin-top: 80px;
  h1 {
    max-width: 1030px;
    margin-bottom: 80px;
    margin-left: auto;
    margin-right: auto;
  }
  .about {
    margin-top: 120px;
    h2 {
      position: relative;
      margin-bottom: 60px;
      background-image: linear-gradient(to right, #c55c00 0%, #fd9b14 100%);
      -webkit-background-clip: text;
      color: transparent;
      display: inline-block;
    }
    .image {
      position: relative;
      &:before {
        position: absolute;
        content: '';
        top: -30px;
        left: 0;
        width: 516px;
        height: 484px;
        background-image: url('../img/bg-about.png');
        background-repeat: no-repeat;
        z-index: -1;
      }
    }
  }
  .advantages {
    position: relative;
    padding-top: 220px;
    padding-bottom: 145px;
    background-image: url('../img/bg-advantage.png');
    background-repeat: no-repeat;
    background-position-y: 35px;
    &:after {
      position: absolute;
      content: '';
      bottom: -40px;
      right: 0;
      width: 397px;
      height: 506px;
      background-image: url('../img/bg-advantage-right.png');
      background-repeat: no-repeat;
    }
    .advantages-wrapper {
      position: relative;
      padding: 50px 60px 75px 60px;
      border: 2px solid #c55c00;
      border-radius: 20px;
      text-align: center;
      &:before {
        position: absolute;
        content: "";
        top: -2px;
        left: 0;
        width: calc(100% - 30px);
        height: 2px;
        margin-left: 15px;
        background-image: linear-gradient(to right, #c55c00 0%, #fff 5%, #fff 95%, #c55c00 100%);
      }
      .title {
        position: absolute;
        content: '';
        top: 0;
        left: 50%;
        transform: translateX(-50%) translateY(-50%);
        width: 100%;
        text-align: center;
        padding: 0 10px;
        background: #ffffff;
        background-image: linear-gradient(to right, #c55c00 0%, #fd9b14 100%);
        -webkit-background-clip: text;
        color: transparent;
      }
      .advantage-block {
        margin-bottom: -50px;
        .advantage-img {
          position: relative;
          display: inline-block;
          vertical-align: middle;
          cursor: pointer;
          z-index: 1;
          &:nth-child(even) {
            margin-bottom: 55px;
          }
          img {
            &:not(.active) {
              display: none;
            }
          }
        }
        .advantage-desc {
          position: relative;
          display: inline-block;
          width: 100%;
          height: 200px;
          margin-bottom: 17px;
          border-radius: 20px;
          background-image: url('../img/bg-advantage-desc-left.png');
          background-position-x: -35px;
          background-repeat: no-repeat;
          vertical-align: middle;
          p {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translateX(-50%) translateY(-50%);
            width: 100%;
            padding: 0 30px;
            font-size: 17px;
            line-height: 25px;
            text-align: left;
            color: rgba(65, 65, 65, 0.9);
            &:not(.active) {
              display: none;
            }
            &.small-text {
              height: 100px;
              font-size: 15px;
            }
          }
        }
        &.right {
          .advantage-desc {
            background-image: url('../img/bg-advantage-desc-right.png');
            background-position-x: 15px;
          }
        }
      }
    }
  }
  .leaders {
    position: relative;
    &:before {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 900px;
      background-image: url('../img/bg-leaders.png');
      background-position-y: -400px;
      background-repeat: no-repeat;
    }
    &:after {
      position: absolute;
      bottom: -65%;
      left: 0;
      width: 312px;
      height: 897px;
      background-image: url('../img/bg-leaders-left.png');
      background-repeat: no-repeat;
    }
    .title {
      text-align: center;
      h3 {
        display: inline-block;
        margin: 0 auto;
        padding-bottom: 45px;
        background-image: linear-gradient(to right, #c55c00 0%, #fd9b14 100%);
        -webkit-background-clip: text;
        color: transparent;
      }
    }
    .wrapper {
      margin: 0 45px;
      .lider {
        padding-left: 0;
        padding-right: 0;
        z-index: 1;
        .img-wrapper {
          height: 465px;
          background-size: 106%;
          background-position-x: center;
          background-repeat: no-repeat;
        }
        h4 {
          min-height: 90px;
          margin-top: -15px;
          margin-bottom: 10px;
          text-align: center;
          background-image: linear-gradient(to right, #c55c00 0%, #fd9b14 100%);
          -webkit-background-clip: text;
          color: transparent;
        }
        p {
          font-size: 15px;
          text-align: center;
          color:  rgba(65, 65, 65, 0.9);
        }
      }
    }
  }
  .reviews {
    position: relative;
    padding-top: 220px;
    &:before {
      content: '';
      position: absolute;
      top: 22px;
      right: 100px;
      width: 227px;
      height: 133px;
      background-image: url('../img/bg-reviews-right.png');
      background-repeat: no-repeat;
    }
    .container {
      .wrapper-block {
        padding-top: 70px;
        padding-bottom: 15px;
        padding-left: 30px;
        overflow: hidden;
        .wrapper-carousel {
          position: relative;
          border: 2px solid #b6b6b6;
          border-radius: 10px;
          &:after {
            content: '';
            position: absolute;
            top: -55px;
            left: -70px;
            width: 732px;
            height: 331px;
            background-image: url('../img/bg-review.png');
          }
          &:before {
            position: absolute;
            content: "";
            bottom: -2px;
            left: 0;
            width: calc(100% - 30px);
            height: 2px;
            margin-left: 15px;
            background-image: linear-gradient(to right, #b6b6b6 0%, #fff 3%, #fff 97%, #b6b6b6 100%)
          }
          .link-review {
            position: absolute;
            content: '';
            bottom: -25px;
            right: 0;
            transform: translateY(-50%);
            width: 100%;
            padding: 0 10px;
            font-family: CocogoosePro;
            font-size: 16px;
            font-weight: 300;
            text-align: center;
            background-image: linear-gradient(to right, #c55c00 0%, #fd9b14 100%);
            -webkit-background-clip: text;
            color: transparent;
          }
          .reviews-carousel {
            z-index: 1;
            .review {
              position: relative;
              margin: 0 2px;
              padding: 30px ;
              z-index: 1;
              &:focus{
                outline: none;
              }
              .photo {
                position: absolute;
                top: -70px;
                left: 90px;
                img {
                  width: 150px;
                  height: 150px;
                  border-radius: 50%;
                }
              }
              h4 {
                display: inline-block;
                padding-top: 60px;
                padding-top: 60px;
                padding-bottom: 15px;
                text-align: center;
                background-image: linear-gradient(to right, #c55c00 0%, #fd9b14 100%);
                -webkit-background-clip: text;
                color: transparent;
              }
              span {
                float: right;
                font-family: 'Lato', sans-serif;
                font-size: 15px;
                font-weight: 400;
                color: rgba(65, 65, 65, 0.9);
              }
              h5 {
                padding-top: 3px;
                padding-bottom: 45px;
                color: rgba(65, 65, 65, 0.9);
              }
              p {
                line-height: 25px;
                color: rgba(65, 65, 65, 0.9);
              }
            }
            .slick-list {
              overflow: visible;
            }
            .slick-arrow {
              position: absolute;
              bottom: -12px;
              width: 15px;
              height: 24px;
              z-index: 1;
              cursor: pointer;
              transition: .3s;
              &:hover{
                opacity: .7;
              }
              &.slick-prev {
                left: 20px;
                background-image: url('../img/arrow-gray-left.png');
              }
              &.slick-next {
                right: 20px;
                background-image: url('../img/arrow-gray-right.png');
              }
            }
          }
        }
      }
    }
  }

  @include breakpoint(tablets) {
    .about {
      h2 {
        padding-left: 180px;
        &:before {
          position: absolute;
          content: '';
          top: 10px;
          left: 10px;
          width: 130px;
          height: 16px;
          background-image: url('../img/points.png');
          background-repeat: no-repeat;
        }
      }
    }
    .advantages {
      .advantages-wrapper {
        text-align: unset;
        &:before {
          background-image: linear-gradient(to right, #c55c00 0%, #fff 20%, #fff 80%, #c55c00 100%);
        }
        .title {
          width: auto;
        }
        .advantage-block {
          .advantage-img {
            &:nth-child(even) {
              margin-bottom: 0;
            }
          }
          .advantage-desc {
            left: -22px;
            max-width: 55%;
            height: 180px;
          }
          &.right {
            text-align: right;
            .advantage-desc {
              left: 22px;
            }
          }
        }
      }
    }
    .leaders {
      position: relative;
      &:after {
        content: '';
      }
      .wrapper {
        .lider {
          .img-wrapper {
            height: 285px;
          }
        }
      }
    }
    .reviews {
      .container {
        .wrapper-block {
          .wrapper-carousel {
            &:before {
              background-image: linear-gradient(to right, #b6b6b6 0%, #b6b6b6 40%, #fff 55%, #fff 94%, #b6b6b6 100%)
            }
            .link-review {
              right: -25px;
              width: auto;
              transform: translateX(-50%) translateY(-50%);
            }
            .reviews-carousel {
              .review {
                padding: 30px 110px 60px 110px;
                h4 {
                  margin-left: 190px;
                  padding-top: 0;
                  text-align: unset;
                }
                span {
                  padding-top: 6px;
                }
                h5 {
                  margin-left: 190px;
                  padding-top: 0;
                }
              }
              .slick-arrow {
                position: absolute;
                bottom: -12px;
                width: 15px;
                height: 24px;
                z-index: 1;
                cursor: pointer;
                &.slick-prev {
                  left: unset;
                  right: 320px;
                  background-image: url('../img/arrow-gray-left.png');
                }
                &.slick-next {
                  right: 60px;
                  background-image: url('../img/arrow-gray-right.png');
                }
              }
            }
          }
        }
      }
    }
  }

  @include breakpoint(middle) {
    .advantages {
      .advantages-wrapper {
        padding-left: 100px;
        padding-right: 100px;
      }
    }
    .leaders {
      &:after {
        bottom: -40%;
      }
      .wrapper {
        .lider {
          .img-wrapper {
            height: 375px;
          }
          h4 {
            min-height: unset;
          }
        }
      }
    }
    .reviews {
      .container {
        max-width: 960px;
        .wrapper-block {
          .wrapper-carousel {
            &:before {
              background-image: linear-gradient(to right, #b6b6b6 0%, #b6b6b6 60%, #fff 68%, #fff 94%, #b6b6b6 100%)
            }
          }
        }
      }
    }
  }

  @include breakpoint(desktops) {
    margin-top: 120px;
    h1 {
      margin-bottom: 150px;
    }
    .about {
      .offset {
        margin-left: 70px;
        p {
          margin-right: 26px;
          padding-top: 30px;
          text-align: justify;
        }
      }
      .image {
        margin-left: 15px;
        padding-left: 30px;
        padding-right: 0;
        text-align: right;
        &:before {
          left: 32%;
        }
      }
    }
    .advantages {
      &:after {
        bottom: -230px;
      }
      .advantages-wrapper {
        padding-left: 180px;
        padding-right: 180px;
        &:before {
          background-image: linear-gradient(to right, #c55c00 0%, #ffffff 30%, #ffffff 70%, #c55c00 100%);
        }
        .advantage-block {
          .advantage-desc {
            max-width: 62%;
          }
        }
      }
    }
    .leaders {
      .wrapper {
        .lider {
          .img-wrapper {
            height: 465px;
          }
        }
      }
    }
    .reviews {
      .container {
        max-width: 1052px;
      }
    }
  }
}