.main {
  margin-top: 120px;
  h1 {
    margin-bottom: 150px;
  }
  .about {
    margin-top: 120px;
    h2 {
      position: relative;
      margin-bottom: 20px;
      padding-left: 180px;
      &:before {
        position: absolute;
        content: '';
        top: 10px;
        left: 10px;
        width: 130px;
        height: 16px;
        background-image: url('../img/points.png');
        background-repeat: no-repeat;
      }
    }
    p {
      padding-top: 60px;
    }
    .image {
      position: relative;
      &:before {
        position: absolute;
        content: '';
        top: -30px;
        left: 195px;
        width: 516px;
        height: 484px;
        background-image: url('../img/bg-about.png');
        background-repeat: no-repeat;
        z-index: -1;
      }
    }
  }
  .advantages {
    position: relative;
    padding-top: 220px;
    padding-bottom: 145px;
    background-image: url('../img/bg-advantage.png');
    background-repeat: no-repeat;
    background-position-y: 35px;
    &:after {
      position: absolute;
      content: '';
      bottom: -230px;
      right: 0;
      width: 397px;
      height: 506px;
      background-image: url('../img/bg-advantage-right.png');
      background-repeat: no-repeat;
    }
    .advantages-wrapper {
      position: relative;
      padding: 50px 180px 75px 180px;
      border: 2px solid #c55c00;
      border-radius: 20px;
      &:before {
        position: absolute;
        content: "";
        top: -2px;
        left: 0;
        width: calc(100% - 30px);
        height: 2px;
        margin-left: 15px;
        background-image: linear-gradient(to right, #c55c00 0%, #ffffff 30%, #ffffff 70%, #c55c00 100%);
      }
      .title {
        position: absolute;
        content: '';
        top: 0;
        left: 50%;
        transform: translateX(-50%) translateY(-50%);
        padding: 0 10px;
        background: #ffffff;
        background-image: linear-gradient(to right, #c55c00 0%, #fd9b14 100%);
        -webkit-background-clip: text;
        color: transparent;
      }
      .advantage-block {
        margin-bottom: -50px;
        .advantage-img {
          position: relative;
          display: inline-block;
          vertical-align: middle;
        }
        .advantage-desc {
          position: relative;
          left: -22px;
          display: inline-block;
          width: 100%;
          max-width: 500px;
          height: 180px;
          margin-bottom: 17px;
          border-radius: 20px;
          background-image: url('../img/bg-advantage-desc-left.png');
          background-position-x: -35px;
          background-repeat: no-repeat;
          vertical-align: middle;
          p {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translateX(-50%) translateY(-50%);
            width: 100%;
            padding: 0 30px;
            font-size: 17px;
            line-height: 25px;
            text-align: left;
            color: rgba(65, 65, 65, 0.9);
            &:not(.active) {
              display: none;
            }
            &.small-text {
              height: 100px;
              font-size: 15px;
            }
          }
        }
        &.right {
          text-align: right;
          .advantage-desc {
            left: 22px;
            background-image: url('../img/bg-advantage-desc-right.png');
            background-position-x: 15px;
          }
        }
      }
    }
  }
  .leaders {
    .title {
      text-align: center;
      h3 {
        display: inline-block;
        margin: 0 auto;
        padding-bottom: 120px;
        background-image: linear-gradient(to right, #c55c00 0%, #fd9b14 100%);
        -webkit-background-clip: text;
        color: transparent;
      }
    }
    .wrapper {
      margin: 0 42px;
      .lider {
        height: 335px;
        margin: 0 18px;
        border-radius: 20px;
        background-color: #ffffff;
        box-shadow: 1px 20px 46.55px 2.45px rgba(166, 93, 35, 0.45);
      }
    }
  }
}