body {
    overflow-x: hidden;
    margin: 0;
    padding: 0;
    background: url("../img/bg-top.jpg");
    background-repeat: no-repeat;

    >.wrapper {
        min-height: calc(100vh - 185px);
    }

    h1, h2, h3, h4, h5, h6 {
        margin: 0;
        font-family: 'CocogoosePro', sans-serif;
        font-weight: 300;
        font-style: normal;
    }

    h1 {
        font-size: 50px;
        line-height: 70px;
        text-transform: uppercase;
        color: #ffffff;
    }

    h2 {
        font-size: 30px;
        line-height: 40px;
        text-transform: uppercase;
        color: #e1811f;
    }

    h3 {
        font-size: 15px;
        font-weight: 300;
        color: #dc7d1f;
    }

    h4 {
        font-size: 24px;
        font-weight: 400;
        text-align: left;
        color: #333333;
    }

    h5 {}

    h6 {
        font-size: 16px;
        font-weight: 900;
        text-align: center;
        color: #5dbdfe;
    }

    p {
        font-family: 'CocogoosePro', sans-serif;
        font-size: 14px;
        font-weight: 200;
        font-style: normal;
        line-height: 27px;
        color: #3c3c3c;
        span {
            font-family: 'Lato', sans-serif;
        }
    }

    img {
        max-width: 100%;
        display: inline-block;
    }
    .clean{
        clear: both;
    }
    a {
        display: inline-block;
        font-family: 'Lato', sans-serif;
        font-weight: normal;
        font-style: normal;
        text-decoration: none;
        outline: none !important;

        &::-moz-focus-inner {
            border: 0 !important;
        }

        &:hover, &:focus {
            text-decoration: none;
            color: #000000;
        }
    }

    @include breakpoint(mobile) {
        h1 {
            font-size: 36px;
        }
        h2 {
            font-size: 36px;
        }
        h3 {
            font-size: 14px;
        }
        h4 {
            font-size: 18px;
        }
        h6 {
            font-size: 12px;
        }
        p {
            font-size: 14px;
        }
    }

    @include breakpoint(desktops) {
        .container {
            max-width: 1200px;
        }
    }
}