body {
    overflow-x: hidden;
    margin: 0;
    padding: 0;
    background: url("../img/bg-top.jpg");
    background-repeat: no-repeat;

    &:not(.home) {
        background-image: url(../img/other-head.png);
    }

    >.wrapper {
        min-height: calc(100vh - 185px);
    }

    h1, h2, h3, h4, h5, h6 {
        margin: 0;
        font-family: 'CocogoosePro', sans-serif;
        font-weight: 300;
        font-style: normal;
    }

    h1 {
        font-size: 28px;
        line-height: 35px;
        text-transform: uppercase;
        color: #ffffff;
    }

    h2 {
        font-size: 20px;
        line-height: 40px;
        text-transform: uppercase;
        color: #e1811f;
    }

    h3 {
        font-size: 50px;
        font-weight: 300;
        text-transform: uppercase;
    }

    h4 {
        font-size: 20px;
        font-weight: 300;
        line-height: 30px;
        text-transform: uppercase;
        color: #ffffff;
    }

    h5 {
        font-size: 15px;
        font-weight: 200;
        color: #dc7d1f;
    }

    p {
        font-family: 'CocogoosePro', sans-serif;
        font-size: 14px;
        font-weight: 200;
        font-style: normal;
        line-height: 27px;
        color: #3c3c3c;
        span {
            font-family: 'Lato', sans-serif;
        }
    }

    img {
        max-width: 100%;
        display: inline-block;
    }
    .clean{
        clear: both;
    }
    a {
        display: inline-block;
        font-family: 'Lato', sans-serif;
        font-weight: normal;
        font-style: normal;
        text-decoration: none;
        outline: none !important;

        &::-moz-focus-inner {
            border: 0 !important;
        }

        &:hover, &:focus {
            text-decoration: none;
            color: #000000;
        }
    }

    @include breakpoint(middle) {
        h1 {
            font-size: 50px;
            line-height: 70px;
        }
        h2 {
            font-size: 26px;
        }
    }
    @include breakpoint(desktops) {
        .container {
            max-width: 1200px;
        }
        h1 {
            font-size: 50px;
        }
        h2 {
            font-size: 29px;
        }
    }
}
@include breakpoint(midbiggboot) {
    body:not(.home){
        background-image: url(../img/mobile-head.png);
    }
}
footer{
    .row{
        .contacts{
            text-align: right;
            a{
                transition: .3s;
                &:hover{
                    color: #3c3c3c;
                }
            }
            span{
                margin-right: 30px;
            }
        } 
    } 
} 

.modal-dialog.other{
    max-width: 717px;
    width: 100%;
    .modal-content{
        border-radius: 50px;
        box-shadow: 0 0 120px rgba(28,27,27,0.22);
        background-color: #ffffff;
        .modal-body{
            max-height: 700px;
            padding: 0;
            max-width: 386px;
            width: 100%;
            margin: 50px auto;
            .seee-pass{
                position: relative;
                #my-pass{
                    padding-right: 40px;
                }
            }
            
            button.go-to-other{
                text-transform: uppercase;
                display: block;
                margin: 0 auto;
                margin-bottom: 60px;
                margin-top: 30px;
            }
            .rull-go-to{
                font-size: 14px;
                letter-spacing: 0px;
                line-height: 30px;
                color: #bebaba;
                font-family: "CocogoosePro";
                font-weight: 300;
                text-align: center;
                display: block;
            }
            
            .close{
                padding: 0;
                background-color: transparent;
                background-image: none !important;
                -webkit-appearance: none;
                box-shadow: none;
                position: absolute;
                right: -100px;
                top: -6px;
                opacity: 1;
                color: #FF9138;
                outline: none;
                border: none;
                font-size: 40px;
                cursor: pointer;
                z-index: 9;
                &:hover{
                    background-color: transparent;
                    background-image: none
                }
                &:focus{
                    text-transform: uppercase;
                    outline: none;
                    color: #fff;
                    background-color: transparent;
                    background-image: none
                }
            }
            h3{
                text-transform: uppercase;
                font-size: 25px;
                letter-spacing: 0px;
                padding-left: 0;
                display: block;
                margin: 0 auto;
                text-align: left;
                font-family: "Lato";
                font-weight: 700;
                text-align: center;
                background: linear-gradient(to right, #c55b00 0%, #fd9b13);
                -webkit-background-clip: text;
                -webkit-text-fill-color: transparent;
                margin-bottom: 43px;
            }
            input[type="text"], input[type="email"], input[type="password"], input[type="tel"]{
                box-shadow: none;
                display: inline-block;
                width: 100%;
                padding: 0 15px;
                height: 35px;
                border-radius: 17px;
                background-color: #ffffff;
                border: 1px solid #e7830c;
                box-sizing: border-box;
                color: #919191;
                font-family: "Lato";
                font-weight: 200;
                font-size: 13px;
                appearance: none;
                outline: none;
                transition: .25s;
                margin-bottom: 25px
            }
            p{
                font-size: 14px;
                line-height: 28px;
                color: #7f7f7f;
                font-family: "Lato";
                font-weight: 300;
                padding-right: 40px;
                font-family: "Lato";
            }
            a{
                display: inline-block;
                margin-bottom: 15px;
                 
            }
            label{
                width: 100%;
                font-size: 13px;
                letter-spacing: 0px;
                line-height: 20px;
                color: #929292;
                font-family: "CocogoosePro";
                font-weight: 200;
                cursor: pointer;
                a{
                    font-family: "CocogoosePro";
                    font-weight: 200;
                    font-size: 13px;
                    color: #e77300;
                    margin: 0;
                    &:hover{
                        color: #929292;
                    }
                }
                
            }
            .forgot-pass{
                width: auto;
                display: table;
                text-align: center;
                margin: 0 auto;
                margin-bottom: 20px;
                margin-top: 10px; 
                color: #e77300;
                &:hover{
                    color: #929292;
                }
            }
            .new-link-mod{
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                a{
                    flex-grow: 2;
                    max-width: 220px;
                    margin-right: 20px;
                    border-radius: 20px;
                    line-height: 40px;
                    transition: .3s;
                    text-transform: none;
                    font-size: 15px;
                    color: #df7e1d;
                    font-family: "CocogoosePro";
                    font-weight: 300;
                    text-align: center;
                    box-shadow: 0px 5px 18px rgba(235,121,29,0.51);
                    background-color: #ffffff;

                    &:hover{
                        color: #fff;
                        background-image: linear-gradient(-85deg, #fd9b13 0%, #c55b00 100%);
                    }
                }
                input{
                    flex-grow: 1;
                    max-width: 148px;
                    font-size: 15px;
                    color: #b2b2b2;
                    font-family: "CocogoosePro";
                    font-weight: 300;
                    border-radius: 19px;
                    background-color: #ffffff;
                    border: 1px solid #c2c2c2;
                    box-shadow: none;
                    transition: .3s;
                    line-height: 40px;

                    &:hover{
                        color: #df7e1d;
                        background-color: #ffffff;
                        border: 1px solid #df7e1d;
                        background-image: none;
                    }
                }
            }   
        }
    }
}
.modal-dialog{
    .scrollbar::-webkit-scrollbar-track {
        width: 10px;
        border-radius: 5px;
        position: relative;
        box-shadow: 0px 7px 18px rgba(95,95,95,0.07);
        top: 30px;
        margin-top: 0;
        background-color: #ffffff;
    }
    .reg-new-snb{
        margin: 20px auto;
        display: block
    }
}

.modal-dialog.other{
    .modal-content{
        .modal-body{
            .close{
                transition: .3s;
                &:hover{
                    opacity: .59;
                }
            }
        } 
    } 
}

@include breakpoint(smallfromtablet) {
    .imageuploadify{
        .imageuploadify-images-list{
            button{
                &.btn-default{
                    width: 90px;
                    margin-left: 0;
                }
            }
            .imageuploadify-container{
                width: 90px;
                margin-right: 15px!important;
                margin-left: 0 !important;
            }
        } 
    }
}
@include breakpoint(ipadsmall) {
    .imageuploadify{
        .imageuploadify-images-list{
            button{
                &.btn-default{
                    width: 49%;
                    margin-left: 2%;
                }
            }
            .imageuploadify-container{
                width: 49%;
                margin-right: 2% !important;
                &:nth-child(2n){
                    margin-right: 0 !important;
                }
                &:first-child{
                    margin-right: 2% !important;
                }
            }
        }
    }  
}

@include breakpoint(midmob) {
    .modal-dialog.other{
        .modal-content{
            .modal-body{
                .close{
                    top:10px;
                }
                h3{
                    top: 4px;
                    position: relative;
                }
                .new-link-mod{
                    flex-direction: column;
                    
                    a{
                        max-width: 100%;
                        width: 100%;
                        margin: 0;
                        margin-bottom: 20px;
                    }
                    input{
                        max-width: 100%;
                        width: 100%;
                    }
                } 
            }
        }  
    } 
    .modal-dialog{
        .modal-content{
            .modal-body{
                .close{
                    top:10px!important;
                }
            }
        }
    }
}
