@mixin placeholder-style {
    color: #919191;
    font-family: "Cocogoose Pro";
    font-weight: 300;
    transition: .1s;
    font-size: 13px;

    @include breakpoint(mobile) {
        font-size: 13px;
    }
    @include breakpoint(mobile-landscape) {
        font-size: 13px;
    }
}

@mixin focus-placeholder-style {
    visibility: hidden;
}