input[type='text'],
input[type='email'],
input[type='tel'] {
    display: inline-block;
    width: 100%;
    padding: 0 15px;
    height: 35px;
    border-radius: 10px;
    box-shadow: 3.5px 6.062px 29px rgba(28,27,27,0.1);
    background-color: #ffffff;
    border: 1px solid #e7830c;
    box-sizing: border-box;
    color: #919191;
    font-family: "CocogoosePro";
    font-weight: 200;
    font-size: 13px;
    appearance: none;
    outline: none;
    transition: .25s;

    &::-webkit-input-placeholder {
      @include placeholder-style;
    }

    &::-moz-placeholder {
      @include placeholder-style;
    }

    &:-ms-input-placeholder {
      @include placeholder-style;
    }

    &:focus {
        outline: none;
        box-shadow: none;
        border: 1px solid #ccc;
        outline-offset: 0;

      &::-webkit-input-placeholder {
          @include focus-placeholder-style;
      }

      &::-moz-placeholder {
          @include focus-placeholder-style;
      }

      &:-ms-input-placeholder {
          @include focus-placeholder-style;
      }
    }

    &[disabled],
    &[readonly] {
        cursor: default;
        background-color: #eee;
    }
}