.wrapper-calc {
  max-width: 1030px;
  padding: 20px;
  box-shadow: -1.256px 17.956px 65px rgba(0, 0, 0, 0.14);
  background-color: #ffffff;
  border: 4px solid #ffffff;
  border-radius: 20px;
  .data {
    display: inline-block;
    width: 100%;
    margin-bottom: 20px;
    padding-bottom: 40px;
    border: 1px;
    border-style: solid;
    border-image: linear-gradient(to right, #c55c00 0%, #fd9b14 100%) 0 0 100% 0;
    #calc {
      .input-period {
        label {
          margin-right: 26px;
        }
      }
      .input-method {
        input {
          &:first-child + label {
            margin-right: 30px;
          }
        }
      }
      .input-amount-block {
        margin-top: 15px;
        margin-bottom: 70px;
      }
      .input-amount, .input-refill {
        position: relative;
        display: inline-block;
        width: 184px;
        vertical-align: middle;
        &:after {
          position: absolute;
          top: 50%;
          right: 30px;
          transform: translateY(-50%);
          content: 'RUB';
          font-family: "CocogoosePro";
          font-size: 15px;
          font-weight: 200;
          color: #3c3c3c;
        }
        input {
          display: inline-block;
          padding: 0 30px;
          font-family: "Lato";
          font-size: 23px;
          font-weight: bold;
          line-height: 35px;
          border: 1px solid #fd9b14;
          border-radius: 20px;
          color: #df7e1d;
        }
        label {
          position: absolute;
          top: 40px;
          left: 0;
          font-family: "CocogoosePro";
          font-size: 12px;
          font-weight: 200;
          color: #3c3c3c;
        }
      }
      .slider {
        display: inline-block;
        width: 100%;
        margin-bottom: 60px;
        vertical-align: middle;
        &#slider-amount {
          &:before {
            content: '1000';
            left: 0;
          }
          &:after {
            content: '500 000';
            right: 0;
          }
        }
        &#slider-refill {
          &:before {
            content: '1000';
            left: 0;
          }
          &:after {
            content: '25 000';
            right: 0;
          }
        }
      }
    }
  }
  .result {
    display: inline-block;
    vertical-align: top;
    width: 100%;
    font-size: 0;
    h3 {
      margin-bottom: 15px;
    }
    span {
      display: inline-block;
      margin-bottom: 8px;
    }
    .caption {
      font-family: 'CocogoosePro', sans-serif;
      width: 75%;
      font-size: 12px;
      font-weight: 200;
      color:  #3c3c3c;
    }
    .value {
      width: 25%;
      font-family: Lato;
      font-size: 23px;
      font-weight: 700;
      color: #df7e1d;
    }
    .unit {
      margin-bottom: 0;
      font-family: Lato;
      font-size: 23px;
      font-weight: 400;
      color:  #3c3c3c;
    }
    button {
      width: 100%;
      max-width: 235px;
      margin-top: 35px;
    }
  }

  @include breakpoint(tablets) {
    .data {
      #calc {
        .input-period {
          label {
            margin-right: 14px;
          }
        }
        .slider {
          width: 57%;
          margin-right: 7%;
        }
      }
    }
  }

  @include breakpoint(middle) {
    padding: 60px 60px 80px 60px;
    .data {
      width: 68%;
      margin-bottom: 0;
      border-image: linear-gradient(to right, #c55c00 0%, #fd9b14 100%) 0 100% 0 0;
      #calc {
        .input-period {
          label {
            margin-right: 14px;
          }
        }
        .slider {
          margin-bottom: 0;
          margin-right: 5%;
        }
      }
    }
    .result {
      width: 31%;
      padding-left: 4px;
    }
  }

  @include breakpoint(desktops) {
    .data {
      width: 68%;
      margin-bottom: 0;
      border-image: linear-gradient(to right, #c55c00 0%, #fd9b14 100%) 0 100% 0 0;
      #calc {
        .input-period {
          label {
            margin-right: 27px;
          }
        }
      }
    }
    .result {
      width: 31%;
      padding-left: 30px;
    }
  }
}