footer {
  height: 184px;
  margin-top: 85px;
  padding-top: 110px;
  background: url("../img/bg-bottom.jpg");
  background-repeat: no-repeat;
  .row {
    align-items: center;
    font-size: 0;

    .logo {
      text-align: center;
      p {
        margin-bottom: 0;
        font-family: 'CocogoosePro', sans-serif;
        font-weight: 300;
        font-size: 32px;
        line-height: 1;
        color: #ffffff;
      }
      span {
        display: block;
        font-family: 'CocogoosePro', sans-serif;
        font-weight: 300;
        font-size: 8px;
        font-weight: 300;
        color: #ffffff;
      }
    }

    .contacts {
      span {
        display: none;
      }
      a {
        &:last-child {
          float: right;
          margin: 0;
        }
      }
      span, a {
        font-size: 15px;
        color: #ffffff;
      }
    }
  }

  @include breakpoint(tablets) {
    .row {
      .contacts {
        .block:not(:last-child) {
          float: none;
          margin-right: 30px;
        }
        span {
          display: inline;
          margin-right: 3px;
          font-family: 'Lato', sans-serif;
        }
      }
    }
  }
}

