header {
  .wrapper {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    height: 50px;
    border-top: 1px solid #f5d2ac;
    a {
      margin-right: 30px;
    }
    span {
      margin-right: 5px;
      font-family: 'Lato', sans-serif;
    }
    span, a {
      font-size: 15px;
      color: #ffffff;
    }
  }
}