.menu {
  width: auto;
  margin: 0;
  box-sizing: border-box;
  font-size: 19px;
  font-weight: 300;
  z-index: 1;

  .menu_button {
    display: block;
    float: right;
    padding: 22px 0;
    width: 39px;
    height: 53px;
    border-radius: 5px;
    cursor: pointer;
    span {
      display: block;
      height: 3px;
      margin: 5px;
      background-color: #ffffff;
      transition: transform 1s 0.5s, opacity 0.4s 0.5s;
    }
    &.open {
      transform: rotate(0deg);
      transition: transform 0.5s;

      span {
        &:first-child {
          transform: rotate(135deg) translateY(-6px) translateX(5px);
        }
        &:nth-child(2) {
          transform: rotate(45deg);
        }
        &:last-child {
          opacity: 0;
        }
      }
    }
  }

  .logo {
    padding-top: 20px;
    text-align: center;
    p {
      margin-bottom: 0;
      font-family: 'CocogoosePro', sans-serif;
      font-weight: 300;
      font-size: 32px;
      line-height: 1;
      color: #ffffff;
    }
    span {
      display: block;
      font-family: 'CocogoosePro', sans-serif;
      font-weight: 300;
      font-size: 8px;
      font-weight: 300;
      color: #ffffff;
    }
  }

  .nav {
    display: flex;
    position: relative;
    left: -999px;
    max-height: 0;
    flex-direction: column;
    padding: 0 50px;
    transition: max-height 0.5s ease-in-out 0.5s, left 1s ease-in-out;

    &.collapse {
      left: 0;
      max-height: 1000px;
      margin-bottom: 0;
      padding-left: 0;
      padding-right: 0;
      transition: max-height 1s ease-in-out, left 1s ease-in-out 0.1s;
      background-color: #fff;
      .menu_item {
        border-bottom: 1px solid #693400;
        a {
          padding: 0 20px;
          line-height: 50px;
          color: #693400;
        }
        &.login {
          a {
            &:before {
              content: none;
            }
          }
        }
      }
    }

    .menu_item {
      a {
        position: relative;
        width: 100%;
        font-size: 19px;
        font-weight: 300;
        line-height: 80px;
        color:  #ffffff;
        transition: color 0.5s linear;
        /*&:after {
          position: absolute;
          bottom: -2px;
          left: 50%;
          width: 0;
          height: 4px;
          transform: translateX(-50%);
          background-color: #68bebd;
          transition: width 0.25s linear;
        }*/
      }
      &:hover {
        a {
          color: #693400;
          /*&:after {
            width: 67px;
          }*/
        }
      }
      &.login {
        a {
          &:before {
            content: "";
            position: absolute;
            top: 50%;
            right: -50px;
            transform: translateY(-50%);
            width: 32px;
            height: 32px;
            background-image: url("../img/login.png");
            background-size: cover;
            background-repeat: no-repeat;
            transition: background 0.5s;
          }
        }
        &:hover {
          a {
            &:before {
              background: url("../img/login-hover.png");
            }
          }
        }
      }
    }
  }

  @include breakpoint(tablets) {
    display: block;
 }

  @include breakpoint(middle) {
    .nav {
      float: right;
      left: 0;
      width: calc(100% - 200px);
      max-height: none;
      flex-direction: row;
      transition: none;
      &.collapse {
        margin-bottom: 0;
      }
      /*.menu_item {
        a {
          &:after {
            content: "";
          }
        }
      }*/
    }
    .menu_button {
      display: none;
    }
  }
}








